.loginGroup {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.loginForm {
  max-width: 1000px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}